version: "3.8"

services:
  api:
    image: ghcr.io/karthims7/mini-twitter-api:latest
    environment:
      DATABASE_URL: ${DATABASE_URL}
      JWT_SECRET: ${JWT_SECRET}
    ports:
      - "8080:8080"
    depends_on:
      - db
    restart: always

  db:
    image: postgres:15
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - prod_db_data:/var/lib/postgresql/data
    restart: always

volumes:
  prod_db_data:
